<!-- Sidebar -->
<ul th:fragment="fragment-bar" class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">

        <div class="sidebar-brand-text mx-3">Woolee</div>
    </a>

    <!-- Divider -->

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-home"></i>
            <span>Página Inicial</span></a>
    </li>

    <!-- Divider -->

    <!-- Heading -->


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">

        <a class="nav-link " href="/visualizar-perfil">
            <i class="fas fa-fw fa-user"></i>
            <span>Meu perfil</span>
        </a>

        <a class="nav-link " href="/explorar">
            <i class="fas fa-fw fa-search"></i>
            <span>Explorar</span>
        </a>

        <a class="nav-link " href="/conexoes">
            <i class="fas fa-fw fa-users"></i>
            <span>Solicitações de conexão</span>
        </a>

        <a class="nav-link " href="/em-alta">
            <i class="fas fa-fw fa-arrow-alt-circle-up"></i>
            <span>Em alta</span>
        </a>



    </li>



</ul>
<!-- End of Sidebar -->