<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-page :: head">
</head>




<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/side-bar :: fragment-bar" >
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav-bar :: fragment-nav">

            </nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div th:if="${#request.getParameter('msg')} !=null" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong th:text="${#request.getParameter('msg')}"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Content Row -->
                <div class="card">
                    <div class="card-header">Atualizar postagem</div>
                    <div class="card-body">
                        <form class="user " th:action="@{/editar/post}" enctype="multipart/form-data"
                              method="post" autocomplete="off"  role="form">

                            <div th:if="${successMessage} != null" class="alert alert-success" th:text="${successMessage}" role="alert">
                                A simple success alert—check it out!
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input hidden th:field="${post.id}">
                                    <input hidden th:field="${post.user.id}">
                                    <input hidden th:field="${post.user}">
                                    <input hidden th:field="${post.dataCadastro}">
                                    <label>Título da postagem</label>
                                    <input th:field="${post.titulo}" type="text" class="form-control" id="exampleFirstName"
                                           placeholder="Titulo">
                                </div>
                                <br/>
                                <div class="col-sm-6">
                                    <label>Descrição</label>
                                    <textarea rows="3" th:field="${post.descricao}" type="text" class="form-control" id="exampleLastName"
                                              placeholder="Descrição do post">
                                    </textarea>
                                </div>
                                <div class="form-group m-3">
                                    <div th:if="${post.imagemUri != null}">
                                        <div class="image-upload">
                                            <label for="file-input">
                                                Insira uma imagem
                                                <img class="img-fluid" src="https://img.icons8.com/office/344/add-image.png"/>
                                            </label>
                                            <input  id="file-input" type="file" class="custom-file-upload" name="file"/><br />

                                        </div>


                                        <label>Imagem anterior:</label>
                                        <img width="200px" class="img-fluid" alt="Responsive image" th:src="@{'/images/' + ${post.getImagemUri()}}"/>

                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="ml-2 btn btn-primary">Atualizar</button>
                        </form>
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->

                    <!-- End of Footer -->

                </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div th:replace="fragments/nav-bar :: fragment-logout" >

            </div>
        </div>


                </footer>
    </div>
</div>



<th:block th:replace="fragments/head-page :: body-final"></th:block>





</body>

</html>