<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-page :: head"></head>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/side-bar :: fragment-bar" >
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav-bar :: fragment-nav">

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-header">
                        <span class="text-gray-900 ">Atualizar Usuário</span>
                    </div>
                    <div class="card-body ">
                        <!-- Nested Row within Card Body -->
                                    <form class="user" th:action="@{/editar/usuario}"
                                          method="post" autocomplete="off"  role="form">
                                        <div th:if="${successMessage} != null" class="alert alert-success" th:text="${successMessage}" role="alert">
                                            A simple success alert—check it out!
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="role" class="form-label required">Nome de usuário</label>
                                                <input hidden th:field="${usuario2.id}">
                                                <input th:field="${usuario2.userName}" type="text" class="form-control" id="exampleFirstName"
                                                       placeholder="Nome de usuário">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="role" class="form-label required">Nome</label>
                                                <input th:field="${usuario2.nome}" type="text" class="form-control" id="exampleLastName"
                                                       placeholder="Nome completo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="role" class="form-label required">Email</label>
                                            <input th:field="${usuario2.email}" type="email" class="form-control" id="exampleInputEmail"
                                                   placeholder="Email">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input th:field="${usuario2.senha}" type="password" class="form-control"
                                                       id="exampleInputPassword" placeholder="Senha">
                                            </div>
                                            <div class="col-sm-6">
                                                <input  th:field="${usuario2.repetirSenha}" type="password" class="form-control "
                                                        id="exampleRepeatPassword" placeholder="Repetir Senha">
                                            </div>
                                            <span class="text-danger" th:utext="${senhas}"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="role" class="form-label required">Selecione seus temas favoritos:</label>
                                            <select  class="custom-select" multiple id="role" th:field="${usuario2.temas}" required>
                                                <option th:value="1">Filmes</option>
                                                <option th:value="2">Séries</option>
                                                <option th:value="3">Animes</option>
                                                <option th:value="4">Jogos</option>
                                            </select>
                                            <div class="invalid-feedback">Esse campo não pode estar vazio.</div>
                                        </div>

                                        <div class="d-flex">
                                            <button type="submit" class="btn btn-primary  mr-2">
                                                Atualizar
                                            </button>
                                            <a class="btn btn-info  mr-2" href="/home">
                                                Voltar
                                            </a>
                                            <a data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${usuario2.id}" th:href="@{'/deletar/usuario/' + ${usuario2.id}}" class="btn btn-danger text-white text-decoration-none" >
                                            <span class="icon text-white">
                                                <i class="fas fa-trash"></i>
                                                Desativar Conta
                                            </span>
                                            </a>
                                            <div class="modal fade" th:attr="id='recordDeleteModal'+ ${usuario2.id}" tabindex="-1" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="recordDeleteModalLabel">Desativar Usuário</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Tem certeza que deseja desativar sua conta??
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                                            <a href="newRecordForm.html" class="btn btn-danger" th:attr="href='/deletar/usuario/'+${usuario2.id}">Sim</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </form>
                        </div>
                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->


            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
        <div th:replace="fragments/nav-bar :: fragment-logout" >

        </div>
    </div>

<th:block th:replace="fragments/head-page :: body-final"></th:block>
</body>

</html>