<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-page :: head">
</head>




<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/side-bar :: fragment-bar" >
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav-bar :: fragment-nav">

            </nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Home</h1>
                </div>
                <div th:if="${#request.getParameter('msg')} !=null" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong th:text="${#request.getParameter('msg')}"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Content Row -->
                <div class="card">
                <div class="card shadow ">
                    <div  class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Feed de postagens</h6>
                    </div>
                    <div class="m-2 w-100">
                        <div class="w-100">
                            <div class="card m-2">
                                <form class="user m-3" th:action="@{/postar}" enctype="multipart/form-data"
                                      method="post" autocomplete="off"  role="form">
                                    <strong class="ml-2">Poste algo!</strong>
                                    <br/>
                                    <div class="form-group">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input hidden th:field="${post.user}">
                                            <input th:field="${post.titulo}" type="text" class="form-control" id="exampleFirstName"
                                                   placeholder="Titulo">
                                        </div>
                                        <br/>
                                        <div class="col-sm-6">
                                            <textarea rows="3" th:field="${post.descricao}" type="text" class="form-control" id="exampleLastName"
                                                      placeholder="Descrição do post">
                                            </textarea>
                                        </div>
                                        <div class="form-group m-3">
                                            <input type="file" name="file"/><br />
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-primary">Postar</button>
                                </form>
                            </div>

                            <div th:each="pst : ${posts}" class="card m-3">
                                <div class="card-header d-inline-block">
                                    <strong th:text="${pst.user.userName}"></strong>
                                    <div class="row d-inline-block" th:if="${pst.user.userName == usuario2.userName}">
                                        <a  th:href="@{'/editar/post/' + ${pst.id}}" class="align-content-end text-decoration-none ml-3">
                                            <span class="icon text-primary">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                        <a data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${pst.id}" th:href="@{'/deletar/post/' + ${pst.id}}" class="text-decoration-none" >
                                            <span class="icon text-danger">
                                                <i class="fas fa-trash "></i>
                                            </span>
                                        </a>
                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" th:attr="id='recordDeleteModal'+ ${pst.id}" tabindex="-1" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="recordDeleteModalLabel">Deletar Post</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tem certeza que deseja deletar o post?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                                    <a href="newRecordForm.html" class="btn btn-primary" th:attr="href='/deletar/post/'+${pst.id}">Sim</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                <div class="card-body">
                                    <h5 class="card-title" th:text="${pst.titulo}"></h5>
                                    <span class="card-subtitle">Publicado às
                                        <span th:text="${#calendars.format(pst.getDataCadastro(), 'HH:mm, dd/MM/yyyy')}">.</span>
                                        <div th:if="${pst.getDataAtualizacao()!=null}">
                                            Editado às <span th:text="${#calendars.format(pst.getDataAtualizacao(), 'HH:mm, dd/MM/yyyy')}"/>
                                        </div>
                                    </span>
                                    <p class="card-text" th:text="${pst.descricao}"></p>
                                    <div th:if="${pst.imagemUri != null}">
                                        <img class="img-fluid" alt="Responsive image" th:src="@{'/images/' + ${pst.getImagemUri()}}"/>
                                    </div>
                                    <p th:text="${curtiu}"></p>
                                    <button th:id="|post-${pst.id}|" th:onclick="|curtirPost(${pst.id})|"
                                              class="btn btn-primary align-content-end text-decoration-none mt-1">
                                            <span class="icon text-white">
                                                <i class="fas fa-heart icone-curtida"></i>
                                                Curtir
                                                <i class="rounded-circle quantidade-curtidas" th:text="${pst.curtidas}"></i>
                                            </span>
                                    </button>
                                    <a  th:href="@{'/comentarios/post/' + ${pst.id}}" class="btn btn-primary align-content-end text-decoration-none mt-1">
                                            <span class="icon text-white">
                                                <i class="fas fa-comment"></i>
                                                Comentarios
                                            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer th:replace="fragments/footer :: fragment-footer" >

                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div th:replace="fragments/nav-bar :: fragment-logout" >

            </div>
        </div>
    </div>
</div>


<script src="/js/post.js"></script>

<th:block th:replace="fragments/head-page :: body-final">
</th:block>

</body>

</html>